@font-face {
  font-family: "Jersey 10";
  src: url("../fonts/Jersey10-Regular.ttf") format("truetype");
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 60%; /* 3.6rem */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* PALETA DE CORES */
  --color-bg-main: #1e1e1e;
  --color-bg-body: #191919;
  --color-bg-secondary: #0f244a;
  --color-accent: #457a99;
  --color-border: #a2a8b4;
  --color-text-muted: #a5eb89;
  --color-text-primary: #c0e6fd;
  --color-highlight: #f5f5f5;

  /* TIPOGRAFIA */
  --font-title: "Jersey 10", system-ui, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-title);
  color: var(--color-bg-secondary);
}

body {
  font-family: Helvetica;
  color: var(--color-highlight);
  background-color: var(--color-bg-body);
}
header {
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Posicionamento */
  position: fixed;
  top: 14px;
  left: 14px;
  right: 14px;
  z-index: 5;
  height: 80px;
  padding: 0 14px;
  border-radius: 40px;
  overflow: hidden;
  /* Vidro */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.111) 0%,
    rgba(216, 216, 216, 0.06) 100%
  );
  backdrop-filter: blur(14px) saturate(120%);
  -webkit-backdrop-filter: blur(10px) saturate(120%);
  border: none;
  /* Profundidade */
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.256),
    /* sombra externa */ inset 0 1px 0 rgba(255, 255, 255, 0.35),
    /* brilho superior */ inset 0 -1px 0 rgba(255, 255, 255, 0.216); /* sombra inferior */
  /* Performance */
  transform: translate3d(0, 0, 0);
  isolation: isolate;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .menu.active ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 90px;
      right: 14px;
      background: var(--color-text-muted);
      padding: 20px;
      border-radius: 20px;
      gap: 14px;
    }

    img {
      width: 5rem;
      height: auto;
    }
  }

  .light-night-bg {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 16px;
    border: 2px solid var(--color-border);
    border-radius: 40px;

    .night {
      width: 18px;
    }

    .night-hover {
      width: 18px;
      display: none;
    }
  }

  .light-night-bg:hover {
    border: 2px solid var(--color-text-muted);
    .night-hover {
      display: block;
    }
    .night {
      display: none;
    }
  }
}

header::after {
  content: "";
  position: absolute;
  inset: 0;

  background: radial-gradient(
    130% 80% at 50% -30%,
    rgba(255, 255, 255, 0.18),
    transparent 60%
  );

  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: -1;
}

/* PADDING GLOBAL */
.padding-global {
  padding: 0 14px;
}

/* MARGEM GLOBAL */
.margin-global {
  width: 100%;
  height: 14px;
}

.creative-frame {
  position: relative;
  background-color: var(--color-bg-body);
  border: 2px solid var(--color-text-primary);
  padding: 14px;
  margin: 14px;
  .frame-corners {
    position: absolute;
    inset: 0; /* ocupa todo o creative-frame */
    pointer-events: none;
  }
  h1 {
    color: var(--color-highlight);
  }
}

/* cantos */
.creative-frame::before,
.creative-frame::after,
.frame-corners::before,
.frame-corners::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-text-primary);
  background: var(--color-bg-body);
}

/* superiores */
.creative-frame::before {
  top: -10px;
  left: -10px;
}

.creative-frame::after {
  top: -10px;
  right: -10px;
}

/* inferiores */
.frame-corners::before {
  bottom: -10px;
  left: -10px;
}

.frame-corners::after {
  bottom: -10px;
  right: -10px;
}

main {
  z-index: 4;
  position: relative;
  /* ESTILO DIVS SECTION GLOBAL */
  .section-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 14px;
    border-radius: 40px;
    border: none;
    /* max-width: 1200px; */
    width: 100%;

    /* Vidro */
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.111) 0%,
      rgba(216, 216, 216, 0.06) 100%
    );
    background-color: #1e1e1e;
    backdrop-filter: blur(14px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);

    /* Profundidade */
    box-shadow:
      0 8px 24px rgba(0, 0, 0, 0.18),
      inset 0 1px 0 rgba(255, 255, 255, 0.35),
      inset 0 -1px 0 rgba(255, 255, 255, 0.216);

    /* Performance */
    transform: translate3d(0, 0, 0);
    isolation: isolate;

    /* span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      text-align: center;
      padding: 10px;
      border: 1px solid var(--color-border);
      border-radius: 24px;
      color: var(--color-border);
      font-size: small;
    } */

    /* LINHA DIVISÓRIA (HR) */
    .division {
      background-color: var(--color-border);
      border: none;
      height: 1px;
      margin-top: 14px;
    }

    .cta-button,
    .form-button {
      max-width: 200px;
      height: 40px;
      text-align: center;
      text-decoration: none;
      margin-top: 14px;
      padding: 10px;
      border: 1px solid var(--color-border);
      border-radius: 24px;
      color: var(--color-highlight);
      font-size: small;
      font-weight: bold;
    }

    .cta-button:hover {
      color: var(--color-bg-main);
      border: 1px solid var(--color-text-muted);
      background-color: var(--color-text-muted);
    }

    .form-button {
      min-width: 100px;
      background: transparent;
    }

    .form-button[type="submit"]:hover {
      color: var(--color-bg-main);
      background-color: var(--color-text-muted);
    }

    .form-button[type="reset"]:hover {
      color: var(--color-bg-main);
      background-color: #ff344d;
    }

    h2 {
      font-size: 5rem;
      color: var(--color-text-primary);
      margin: 14px;
      line-height: 80%;
    }

    .container-paragraphy {
      /* border: 1px solid var(--color-border); */
      background-color: var(--color-bg-main);
      background-size: cover;
      background-position: center;
      border-radius: 24px;
      padding: 14px;
      p {
        font-size: 1rem;
        color: var(--color-highlight);
        text-align: justify;
        hyphens: auto;
      }
    }
  }

  .hero {
    background-image: url(../imgs/bitmap-bg-azul.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: scroll;

    .container-apresentacao {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 80px;
      .ola-mundo {
        width: 15rem;
        height: 7rem;
        font-family: "Jersey 10";
        font-size: 6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 60%; /* 3.6rem */
        /* background: linear-gradient(180deg, #f5f5f5 0%, #bfe4fb 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
        margin-bottom: 18px;
      }

      .container-text-and-photo {
        width: 281px;
        height: auto;
        display: flex;
        align-items: center;
        gap: 14px;

        .gabriel-gurgel-photo {
          width: 100px;
          height: 100px;

          border-radius: 50%;
          object-fit: cover;
          display: block;
        }
      }
    }

    .link-conhecer {
      position: sticky;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 224px;
      height: 60px;
      color: var(--color-bg-body);
      /* color: #f5f5f5; */
      text-decoration: none;
      font-family: Helvetica;
      border-radius: 40px;
      background-color: var(--color-text-muted);
      border: 2px solid var(--color-text-muted);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      margin: 25px;

      font-family: Helvetica;
      font-weight: bold;
    }

    .link-conhecer:hover {
      color: #0f244a;
      background-color: var(--color-text-muted);
      transition: ease-in-out;
    }

    img {
      height: 500px;
    }
  }

  .services {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-auto-rows: 250px;
      gap: 14px;
      margin-top: 14px;
      .service-card {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 24px;
        background-color: #5e5e5e9f;

        h3 {
          font-family: Helvetica;
          color: #f5f5f5;
        }
      }
    }
  }
  .work-projects {
    .container-projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 14px;
      margin-top: 14px;
      .project-card {
        aspect-ratio: 1 / 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 24px;
        background-color: #5e5e5e9f;
        .project-color {
          display: flex;
          align-items: center;
          padding: 14px;
          justify-content: space-between;
          height: 64px;
          width: 100%;
          background-color: #c0e6fd;
          border-top-left-radius: 24px;
          border-top-right-radius: 24px;

          h3 {
            font-size: 24px;
            font-family: Helvetica;
            color: var(--color-bg-main);
          }
        }
        .technologies {
          padding: 14px;
          ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 14px;
            li {
              padding: 7px;
              border-radius: 10px;
              border: 1px solid var(--color-border);

              /* Configura a lista para ficar 
              escondida no estado original */
              opacity: 0;
              visibility: hidden;
              transform: translateY(6px);
              transition:
                opacity 0.3s ease,
                transform 0.3s ease;

              p {
                font-size: small;
              }
            }

            /* Anima a lista de tecnologias
            para aparecer somente quando passar o mouse */
            &:hover li {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
  .skills {
    .container-paragraphy {
      border: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 14px;
      div {
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid var(--color-border);
        border-radius: 14px;
        transition: transform 0.3s ease;

        img {
          height: 32px;
          margin: 7px;
        }

        p {
          margin: 7px;
        }
      }

      div:hover {
        transform: scale(1.1);
      }
    }
  }
  .contact {
    .section-container {
      gap: 14px;

      .contact-infos {
        flex: 1;
        background-color: var(--color-bg-main);
        border-radius: 24px;
        padding: 14px;
      }

      fieldset {
        flex: 1;
        border-radius: 24px;
        border: 1px solid var(--color-border);
        padding: 14px;

        label {
          display: inline-block;
          color: var(--color-highlight);
          margin-bottom: 4px;
        }

        input,
        textarea {
          width: 100%;
          height: 40px;
          border-radius: 14px;
          border: none;
          background: var(--color-bg-main);
          padding: 14px;
          margin-bottom: 7px;
          color: var(--color-highlight);
          font-family: Helvetica;
        }

        textarea {
          min-height: 100px;
        }
      }
    }
  }
}

footer {
  height: 35vh;
  background-color: var(--color-text-primary);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

/* ESTILOS TABLET */
@media screen and (min-width: 768px) {
  header {
    /* width: 100%; */
    margin: 0 auto;
    padding: 14px;

    .sanduich-menu {
      display: none;
    }
  }

  main {
    .hero {
      /* max-width: 1000px; */
      flex-direction: row-reverse;
      margin: 0 auto;

      .container-apresentacao {
        margin-left: 36px;
      }
    }
  }
}

/* ESTILOS DESKTOP */
@media screen and (min-width: 1024px) {
  header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 14px;

    .sanduich-menu {
      display: none;
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;

        a {
          text-decoration: none;
          font-style: none;
          color: #fff;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.5;
          padding: 15px 23px;
          border-radius: 2.5rem;
          border: 2px solid var(--color-border);
          background: transparent;
          margin-left: 7px;
        }

        a:hover {
          border: 2px solid var(--color-text-muted);
        }
      }
    }
  }

  main {
    /* .section-container {
      max-width: 1000px;
      margin: 0 auto;
    } */

    .hero {
      flex-direction: row-reverse;
      .container-apresentacao {
        margin-left: 36px;
      }

      /* .mini-computador {
        width: 360px;
        height: auto;
      } */
    }

    .contact {
      .section-container {
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  footer {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
}
