@font-face {
  font-family: "Jersey 10";
  src: url("../fonts/Jersey10-Regular.ttf") format("truetype");
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 60%; /* 3.6rem */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradiente-principal-20: linear-gradient(
    270deg,
    rgba(15, 36, 74, 0.2) 0%,
    rgba(195, 233, 255, 0.2) 100%
  );

  --font-title: "Jersey 10", system-ui, sans-serif;
}

h1 {
  font-family: var(--font-title);
}

header {
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Posicionamento */
  position: fixed;
  top: 25px;
  left: 25px;
  right: 25px;
  z-index: 5;

  height: 80px;
  padding: 0 32px;

  border-radius: 40px;

  /* Vidro */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.18) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );

  backdrop-filter: blur(14px) saturate(120%);
  -webkit-backdrop-filter: blur(10px) saturate(120%);

  border: 1px solid rgba(255, 255, 255, 0.25);

  /* Profundidade */
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.18),
    inset 0 1px 0 rgba(255, 255, 255, 0.35);

  /* Performance */
  transform: translate3d(0, 0, 0);
  will-change: transform;

  isolation: isolate;
}

/* Conteúdo interno */
header img {
  width: 5rem;
  height: auto;
}

main {
  z-index: 1;
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../imgs/bg-gradient-linear-mobile.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .container-apresentacao {
    margin-top: 148px;
    margin-bottom: 43px;
    
    .ola-mundo {
      width: 15rem;
      font-family: "Jersey 10";
      font-size: 6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 60%; /* 3.6rem */
      background: linear-gradient(180deg, #f5f5f5 0%, #bfe4fb 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 18px;
    }

    .container-text-and-photo {
      width: 281px;
      height: auto;
      display: flex;
      align-items: center;
      gap: 13px;

      .paragrafo-apresentacao {
        font-family: Helvetica;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.5rem;

        .texto-gradiente {
          background: linear-gradient(90deg, #f5f5f5 0%, #c0e6fd 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .nome-gabriel-gurgel {
          color: #a5eb89;
          font-family: Helvetica;
          font-size: 2.25rem;
          font-style: normal;
          font-weight: 700;
          line-height: 2.25rem;
          letter-spacing: -0.1575rem;
        }

        .apelido-gabriel-gurgel {
          color: #a5eb89;
          font-family: Helvetica;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 700;
          line-height: 2.25rem;
          letter-spacing: -0.0875rem;
        }
      }

      .gabriel-gurgel-photo {
        width: 100px;
        height: 100px;

        border-radius: 50%;
        object-fit: cover;
        display: block;
      }
    }
  }

  .link-conhecer {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 60px;
    color: #f5f5f5;
    text-decoration: none;
    font-family: Helvetica;
    border-radius: 40px;
    border: 0.5px solid #a2a8b4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    /* Vidro */
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.18) 0%,
      rgba(255, 255, 255, 0.06) 100%
    );

    backdrop-filter: blur(14px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);

    border: 1px solid rgba(255, 255, 255, 0.25);

    /* Profundidade */
    box-shadow:
      0 8px 24px rgba(0, 0, 0, 0.18),
      inset 0 1px 0 rgba(255, 255, 255, 0.35);

    /* Performance */
    transform: translate3d(0, 0, 0);
    will-change: transform;

    isolation: isolate;
  }
}
